<div style="
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  font-weight: bold;
  color: #555;
  padding: 0 12px;">
  <div style="margin-left: 40px; width: 33%">NPS Breach Pack Warrant Risk Assessment Form for Offenders in Breach of Community Orders</div>
  <div style="text-align: center; vertical-align: bottom; width: 33%">
    <strong><span style=" color:#808080">OFFICIAL</span></strong>
  </div>
  <div style="width: 33%; text-align: right; margin-right:40px" th:text="'Issue Date: ' + ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></div>
</div>

