<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title th:text="${'Warrant Risk Assessment ' + warrantRiskAssessment.crn}"></title>
  <meta name="AppVersion" content="16.0000"/>
  <meta name="Company" content="National Probation Service"/>
  <style type="text/css">
    @page {
      size: 21cm 29.7cm;
      margin-left: 1.59cm;
      margin-right: 1.32cm;
      margin-top: 2.64cm;
      margin-bottom: 1.25cm
    }

    span {
      font-family: Arial, serif;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 11pt
    }
  </style>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      font-family: Arial, sans-serif;
    }

    th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: left;
    }
  </style>
</head>
<body>
<div>
  <br/>

  <div style='border:solid windowtext 1.0pt;padding:1.0pt 4.0pt 1.0pt 4.0pt;background:#CCCCCC'>
    <p style='text-align:center;background:#CCCCCC;border:none;padding:0'><b><span lang=EN-GB style='font-size:16.0pt;font-family:"Arial",sans-serif;color:black'>Warrant Risk Assessment Form</span></b>
    </p>
  </div>

  <br/>

  <table id="basicDetailsTable">
    <colgroup>
      <col style="width: 50%;"/>
      <col style="width: 50%;"/>
    </colgroup>
    <tr>
      <th>Offender's Name</th>
      <td th:text="${warrantRiskAssessment.titleAndFullName}">{titleAndFullName}</td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td th:text="${#temporals.format(warrantRiskAssessment.dateOfBirth, 'dd/MM/yyyy')}">{dateOfBirth}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td><span>
						<div th:if="${warrantRiskAssessment.postalAddress != null}">
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.postalAddress.officeDescription != null}"
                                          th:text="${warrantRiskAssessment.postalAddress.officeDescription}">{postalAddress.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.postalAddress.buildingName != null}"
                                          th:text="${warrantRiskAssessment.postalAddress.buildingName}">{postalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.postalAddress.addressNumber != null}"
                                          th:text="${warrantRiskAssessment.postalAddress.addressNumber}">{postalAddress.addressNumber}</span><span
                th:if="${warrantRiskAssessment.postalAddress.addressNumber != null}"> </span><span
                th:if="${warrantRiskAssessment.postalAddress.streetName != null}"
                th:text="${warrantRiskAssessment.postalAddress.streetName}">{postalAddress.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.postalAddress.district != null}"
                                          th:text="${warrantRiskAssessment.postalAddress.district}">{postalAddress.district}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.postalAddress.townCity != null}"
                                          th:text="${warrantRiskAssessment.postalAddress.townCity}">{postalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.postalAddress.county != null}"
                                          th:text="${warrantRiskAssessment.postalAddress.county}">{postalAddress.county}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.postalAddress.postcode != null}"
                                          th:text="${warrantRiskAssessment.postalAddress.postcode}">{postalAddress.postcode}</span></p>
						</div>
                    </span></td>
    </tr>
    <tr>
      <th>Date of last home visit (include address if different)</th>
      <td th:text="${#temporals.format(warrantRiskAssessment.lastHomeVisitDate, 'dd/MM/yyyy')}">{dateOfLastHomeVisit}
      </td>
    </tr>
    <tr>
      <th>Any other known addresses:</th>
      <td>
        <table>
          <th:block th:each="otherAddr, otherAddrStat : ${otherAddresses}">
            <tr>
              <td style="border: none; padding: 0;">
                <p style="margin: 0;"><span th:if="${otherAddr.officeDescription != null}"
                                            th:text="${otherAddr.officeDescription}">{otherAddress.officeDescription}</span>
                </p>
                <p style="margin: 0;"><span th:if="${otherAddr.buildingName != null}"
                                            th:text="${otherAddr.buildingName}">{otherAddress.buildingName}</span>
                </p>
                <p style="margin: 0;"><span th:if="${otherAddr.addressNumber != null}"
                                            th:text="${otherAddr.addressNumber}">{otherAddress.addressNumber}</span><span
                  th:if="${otherAddr.addressNumber != null}"> </span><span
                  th:if="${otherAddr.streetName != null}"
                  th:text="${otherAddr.streetName}">{otherAddress.streetName}</span></p>
                <p style="margin: 0;"><span th:if="${otherAddr.district != null}"
                                            th:text="${otherAddr.district}">{otherAddress.district}</span>
                </p>
                <p style="margin: 0;"><span th:if="${otherAddr.townCity != null}"
                                            th:text="${otherAddr.townCity}">{otherAddress.buildingName}</span>
                </p>
                <p style="margin: 0;"><span th:if="${otherAddr.county != null}"
                                            th:text="${otherAddr.county}">{otherAddress.county}</span>
                </p>
                <p style="margin: 0;"><span th:if="${otherAddr.postcode != null}"
                                            th:text="${otherAddr.postcode}">{otherAddress.postcode}</span>
                </p>
              </td>
            </tr>
            <tr th:if="${!otherAddrStat.last}">
              <td style="border: none; padding: 0 0 8px 0;"></td>
            </tr>
          </th:block>
        </table>
      </td>
    </tr>
    <tr>
      <th>Telephone number(s)</th>
      <td>
        <strong>Home: </strong><span th:text="${warrantRiskAssessment.telephoneNumber}">{telephoneNumber}</span><br/>
        <strong>Mobile: </strong><span th:text="${warrantRiskAssessment.mobileNumber}">{mobileNumber}</span><br/>
      </td>
    </tr>
    <tr>
      <th>Current Employer details (including employers address/phone number if known)</th>
      <td>
        <table>
          <th:block th:each="employer, employerStat : ${employers}">
            <tr>
              <td style="border: none; padding: 0;">
                <p style="margin: 0;"><span th:if="${employer.contactPerson != null}"
                                            th:text="${employer.contactPerson}">{contactPerson}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.contactLocation.officeDescription != null}"
                                            th:text="${employer.contactLocation.officeDescription}">{employerAddress.officeDescription}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.contactLocation.buildingName != null}"
                                            th:text="${employer.contactLocation.buildingName}">{employerAddress.buildingName}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.contactLocation.addressNumber != null}"
                                            th:text="${employer.contactLocation.addressNumber}">{employerAddress.addressNumber}</span><span
                  th:if="${employer.contactLocation.addressNumber != null}"> </span><span
                  th:if="${employer.contactLocation.streetName != null}"
                  th:text="${employer.contactLocation.streetName}">{employerAddress.streetName}</span></p>
                <p style="margin: 0;"><span th:if="${employer.contactLocation.district != null}"
                                            th:text="${employer.contactLocation.district}">{employerAddress.district}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.contactLocation.townCity != null}"
                                            th:text="${employer.contactLocation.townCity}">{employerAddress.buildingName}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.contactLocation.county != null}"
                                            th:text="${employer.contactLocation.county}">{employerAddress.county}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.contactLocation.postcode != null}"
                                            th:text="${employer.contactLocation.postcode}">{employerAddress.postcode}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.telephoneNumber != null}"
                                            th:text="${employer.telephoneNumber}">{telephoneNumber}</span>
                </p>
                <p style="margin: 0;"><span th:if="${employer.mobileNumber != null}"
                                            th:text="${employer.mobileNumber}">{mobileNumber}</span>
                </p>
              </td>
            </tr>
            <tr th:if="${!employerStat.last}">
              <td style="border: none; padding: 0 0 8px 0;"></td>
            </tr>
          </th:block>
        </table>
      </td>
    </tr>
    <tr>
      <th>DWP signing on office</th>
      <td><span>
						<div th:if="${warrantRiskAssessment.signOnOffice != null}">
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.signOnOffice.officeDescription != null}"
                                          th:text="${warrantRiskAssessment.signOnOffice.officeDescription}">{postalAddress.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.signOnOffice.buildingName != null}"
                                          th:text="${warrantRiskAssessment.signOnOffice.buildingName}">{postalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.signOnOffice.addressNumber != null}"
                                          th:text="${warrantRiskAssessment.signOnOffice.addressNumber}">{postalAddress.addressNumber}</span><span
                th:if="${warrantRiskAssessment.signOnOffice.addressNumber != null}"> </span><span
                th:if="${warrantRiskAssessment.signOnOffice.streetName != null}"
                th:text="${warrantRiskAssessment.signOnOffice.streetName}">{postalAddress.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.signOnOffice.district != null}"
                                          th:text="${warrantRiskAssessment.signOnOffice.district}">{postalAddress.district}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.signOnOffice.townCity != null}"
                                          th:text="${warrantRiskAssessment.signOnOffice.townCity}">{postalAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.signOnOffice.county != null}"
                                          th:text="${warrantRiskAssessment.signOnOffice.county}">{postalAddress.county}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.signOnOffice.postcode != null}"
                                          th:text="${warrantRiskAssessment.signOnOffice.postcode}">{postalAddress.postcode}</span></p>
						</div>
                    </span></td>
    </tr>
    <tr>
      <th>National Insurance Number</th>
      <td th:text="${warrantRiskAssessment.nationalInsuranceNumber}">{nationalInsuranceNumber}</td>
    </tr>
  </table>

  <br/>

  <table id="riskAssessmentTable">
    <colgroup>
      <col style="width: 80%;"/>
      <col style="width: 10%;"/>
      <col style="width: 10%;"/>
    </colgroup>
    <tr>
      <th>Risk Assessment</th>
      <th style="text-align: center;">Yes</th>
      <th style="text-align: center;">No</th>
    </tr>
    <tr>
      <td>Is the offender subject of MAPPA procedures?</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">MAPPA yes</span><input type="checkbox" readonly="readonly" name="mappaYes" th:checked="${warrantRiskAssessment.subjectOfMappaProcedures == true}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">MAPPA no</span><input type="checkbox" readonly="readonly" name="mappaNo" th:checked="${warrantRiskAssessment.subjectOfMappaProcedures == false}"></label>
      </td>
    </tr>
    <tr>
      <td>Is the offender assessed as posing a high risk of serious harm?</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">High risk of serious harm yes</span><input type="checkbox" readonly="readonly" name="harmYes" th:checked="${warrantRiskAssessment.highRiskOfSelfHarm == true}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">High risk of serious harm no</span><input type="checkbox" readonly="readonly" name="harmNo" th:checked="${warrantRiskAssessment.highRiskOfSelfHarm == false}"></label>
      </td>
    </tr>
    <tr>
      <td>Is the offender assessed as posing a high risk of absconding?</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">High risk of absconding yes</span><input type="checkbox" readonly="readonly" name="abscondingYes" th:checked="${warrantRiskAssessment.highRiskOfAbsconding == true}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">High risk of absconding no</span><input type="checkbox" readonly="readonly" name="abscondingNo" th:checked="${warrantRiskAssessment.highRiskOfAbsconding == false}"></label>
      </td>
    </tr>
    <tr>
      <td>Is the offender particularly vulnerable?</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">Particularly vulnerable yes</span><input type="checkbox" readonly="readonly" name="vulnerableYes" th:checked="${warrantRiskAssessment.vulnerable == true}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">Particularly vulnerable no</span><input type="checkbox" readonly="readonly" name="vulnerableNo" th:checked="${warrantRiskAssessment.vulnerable == false}"></label>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="background:#CCCCCC"><span>If any of the above have been ticked 'Yes' the warrant must be allocated to the <strong><u>POLICE</u></strong> for execution</span></td>
    </tr>
    <tr>
      <td>Is the offender known to carry or use weapons?</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">Carry or use weapons yes</span><input type="checkbox" readonly="readonly" name="weaponsYes" th:checked="${warrantRiskAssessment.carryOrUseWeapons == true}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">Carry or use weapons no</span><input type="checkbox" readonly="readonly" name="weaponsNo" th:checked="${warrantRiskAssessment.carryOrUseWeapons == false}"></label>
      </td>
    </tr>
    <tr>
      <td>Does the offender have a history of assaulting police?</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">History of assaulting police yes</span><input type="checkbox" readonly="readonly" name="assaultPoliceYes" th:checked="${warrantRiskAssessment.assaultingPolice == true}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">History of assaulting police no</span><input type="checkbox" readonly="readonly" name="assaultPoliceNo" th:checked="${warrantRiskAssessment.assaultingPolice == false}"></label>
      </td>
    </tr>
    <tr>
      <td>Does the offender misuse drugs and/or alcohol?</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">Misuse drugs and alcohol yes</span><input type="checkbox" readonly="readonly" name="misuseDrugsAndAlcoholYes" th:checked="${warrantRiskAssessment.misuseDrugsAndAlcohol == true}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">Misuse drugs and alcohol no</span><input type="checkbox" readonly="readonly" name="misuseDrugsAndAlcoholNo" th:checked="${warrantRiskAssessment.misuseDrugsAndAlcohol == false}"></label>
      </td>
    </tr>
  </table>

  <br/>

  <table id="riskSummaryTable">
    <colgroup>
      <col style="width: 55%;"/>
      <col style="width: 15%;"/>
      <col style="width: 15%;"/>
      <col style="width: 15%;"/>
    </colgroup>
    <tr>
      <th>Risk Summary</th>
      <th style="text-align: center;">High</th>
      <th style="text-align: center;">Medium</th>
      <th style="text-align: center;">Low</th>
    </tr>
    <tr>
      <td>Risk to Public</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">publicHigh</span><input type="checkbox" readonly="readonly" name="publicHigh" th:checked="${warrantRiskAssessment.riskToPublicLevel == 'High'}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">publicMedium</span><input type="checkbox" readonly="readonly" name="publicMedium" th:checked="${warrantRiskAssessment.riskToPublicLevel == 'Medium'}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">publicLow</span><input type="checkbox" readonly="readonly" name="publicLow" th:checked="${warrantRiskAssessment.riskToPublicLevel == 'Low'}"></label>
      </td>
    </tr>
    <tr>
      <td>Risk to Enforcement Officer</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">officerHigh</span><input type="checkbox" readonly="readonly" name="officerHigh" th:checked="${warrantRiskAssessment.riskToEnforcementOfficers == 'High'}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">officerMedium</span><input type="checkbox" readonly="readonly" name="officerMedium" th:checked="${warrantRiskAssessment.riskToEnforcementOfficers == 'Medium'}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">officerLow</span><input type="checkbox" readonly="readonly" name="officerLow" th:checked="${warrantRiskAssessment.riskToEnforcementOfficers == 'Low'}"></label>
      </td>
    </tr>
    <tr>
      <td>Risk to Police</td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">policeHigh</span><input type="checkbox" readonly="readonly" name="policeHigh" th:checked="${warrantRiskAssessment.riskToPolice == 'High'}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">policeMedium</span><input type="checkbox" readonly="readonly" name="policeMedium" th:checked="${warrantRiskAssessment.riskToPolice == 'Medium'}"></label>
      </td>
      <td style="text-align: center;"><label><span style="position:absolute; left:-9999px;">policeLow</span><input type="checkbox" readonly="readonly" name="policeLow" th:checked="${warrantRiskAssessment.riskToPolice == 'Low'}"></label>
      </td>
    </tr>
  </table>

  <br/>

  <strong>Additional risk information not covered above</strong>

  <br/>
  <br/>

  <table id="executedByTable">
    <colgroup>
      <col style="width: 50%;"/>
      <col style="width: 50%;"/>
    </colgroup>
    <tr>
      <th colspan="2" style="text-align: center;"><span>Warrant to be executed by</span></th>
    </tr>
    <tr>
      <th style="text-align: center;"><p>Police</p>
        <label><span style="position:absolute; left:-9999px;">byPolice</span><input type="checkbox" readonly="readonly" name="byPolice" th:checked="${warrantRiskAssessment.warrantExecutedBy == 'Police Officer'}"></label></th>
      <th style="text-align: center;"><p>Enforcement Officer</p>
        <label><span style="position:absolute; left:-9999px;">byEnforcementOfficer</span><input type="checkbox" readonly="readonly" name="byEnforcementOfficer" th:checked="${warrantRiskAssessment.warrantExecutedBy == 'Enforcement Officer'}"></label></th>
    </tr>
  </table>

  <br/>

  <p style="text-align:justify">
    <span><strong>Form prepared and signed by: </strong><span th:text="${warrantRiskAssessment.signature}">{signature}</span></span>
  </p>

  <p style="text-align:justify">
    <span><strong>Provider: </strong><span th:text="${warrantRiskAssessment.probationArea}">{probationArea}</span></span>
  </p>

  <div style="text-align:justify">
    <span style="display: inline-block; width: 56px; vertical-align: top;"><strong>Office:</strong></span>
    <div th:if="${warrantRiskAssessment.workAddress != null}" style="display: inline-block; vertical-align: top;">
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.workAddress.officeDescription != null}"
                                          th:text="${warrantRiskAssessment.workAddress.officeDescription}">{workAddress.officeDescription}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.workAddress.buildingName != null}"
                                          th:text="${warrantRiskAssessment.workAddress.buildingName}">{workAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.workAddress.addressNumber != null}"
                                          th:text="${warrantRiskAssessment.workAddress.addressNumber}">{workAddress.addressNumber}</span><span
                th:if="${warrantRiskAssessment.workAddress.addressNumber != null}"> </span><span
                th:if="${warrantRiskAssessment.workAddress.streetName != null}"
                th:text="${warrantRiskAssessment.workAddress.streetName}">{workAddress.streetName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.workAddress.district != null}"
                                          th:text="${warrantRiskAssessment.workAddress.district}">{workAddress.district}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.workAddress.townCity != null}"
                                          th:text="${warrantRiskAssessment.workAddress.townCity}">{workAddress.buildingName}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.workAddress.county != null}"
                                          th:text="${warrantRiskAssessment.workAddress.county}">{workAddress.county}</span></p>
							<p style="margin: 0;"><span th:if="${warrantRiskAssessment.workAddress.postcode != null}"
                                          th:text="${warrantRiskAssessment.workAddress.postcode}">{workAddress.postcode}</span></p>
						</div>
  </div>

  <p style="text-align:justify">
    <span><strong>Contact Telephone Number: </strong><span th:text="${warrantRiskAssessment.responsibleOfficerTelephoneNumer}">{responsibleOfficerTelephoneNumer}</span></span>
  </p>

  <br/>

</div>

</body>
